:root {
  --blue-bondi-ocean: rgba(67, 93, 137, 1);
  --blue-bondi-sky: rgba(83, 133, 197, 1);
  --blue-bondi-sky-edge: rgba(63, 106, 176, 1);
  --white-bondi-cloud: rgba(225, 226, 224, 1);
  --sand-tama-light: rgba(210, 193, 170, 1);
  --sand-tama-heavy: rgba(194, 179, 160, 1);
  --blue-tama-ocean: rgba(59, 108, 129, 1);
  --crimson-liquids-contrast: rgba(212, 109, 106, 1);
}

* {
  box-sizing: border-box;
  color: var(--blue-bondi-ocean);
}

body {
  font-family: Arial;
  margin: 0;
}

/* NAV HEADER HERO START */
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue-bondi-sky);
}

.sw-logo {
    display: inline-block;
    vertical-align: top;
    width: 37px;
    height: 37px;
}

.sean-wallace {
  font-family:'Times New Roman', Times, serif;
  font-size: 200%;
  color: var(--white-bondi-cloud);
  text-decoration: none;
  text-align: left;
  display: inline;
}

nav a {
  color: var(--white-bondi-cloud);
  padding: 10px;
  text-decoration: none;
  line-height: 37px;
}

nav a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
  background: var(--blue-bondi-sky);
}

.hero-container {
  position: relative;
  text-align: center;
}

.hero-img {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
}

/* Centered text */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-text h2 {
  font-size: 400%;
  color: var(--blue-bondi-ocean);
}

#hero-blurb {
  text-align: center;
  font-size: 150%;
  color: var(--white-bondi-cloud);
  position: relative;
  top: 100px;
  /* bottom: -150px; */
}

/* NAV HEADER HERO END */

/* FLEX START */
main {
  display: flex;   /* children to use flex */
  background-color: var(--white-bondi-cloud);
}

.flexbox-container {
  flex-direction: column;
}

.flexbox-item {
  margin: 10px;
  min-height: 100px;
  display: flex;
}

.flexbox-item h3 {
  flex-grow: 0;       /* do not grow */
  flex-shrink: 0;       /* do not shrink */
  flex-basis: 100px;
  padding: 10px;
  margin: 10px;
  width: 100px;
  text-align: right;
  border-right: 2px solid var(--blue-bondi-ocean);
}

.flexbox-item p {
  padding: 10px;
  margin: 10px;
  text-align: left;
}

/* PROJECT CARDS START */

#article-project-work {
  margin: 10px;
  min-height: 100px;
  display: flex;
}

.projects {
  flex: 4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-project-card {
  border-color: var(--blue-bondi-sky);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 1 1 auto;       /* grow shrink*/
}

.section-project-card header {
  color: var(--white-bondi-cloud);
  padding: 10px;
}

.section-project-card p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: x-small;
}

.section-project-card a {
  font-size: x-small;
}

.section-project-card img {
  width: 200px;
  height: 200px;
  /* flex-basis: 100px; */
  justify-content: space-around;
  align-items: stretch;
}

#first-project img {
  /* flex: 1 1 300px; */
  justify-content: space-around;
  /* align-items: stretch; */
  /* width: 100%;
  height: 100%; */
  object-fit: fill;
}
/* PROJECT CARDS END */

/* FLEX END */

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  /* background: var(--white-bondi-cloud); */
  background: var(--sand-tama-heavy);
}


/* RESPONSIVE */
/* Tablets */
@media screen and (max-width: 992px) {
  .hero-text h2 {
    font-size: 300%;
  }
  footer {
    background: var(--sand-tama-heavy);
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  .sean-wallace{
    text-align: center;
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
  /* footer {
    background: var(--sand-tama-heavy);
  } */
}